<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.src.shrinkfile</string>
	<key>category</key>
	<string>Universal Action</string>
	<key>connections</key>
	<dict>
		<key>033D8CE4-FE50-4C0E-991D-E6BF84768934</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D906F476-9E74-47E1-BA7D-7623D68CF0AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B66D076-9572-4AF9-AB7F-E01179B8AC7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B38FCD54-25FA-4FD4-A761-3E156A775DA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>119D041F-BCA4-4300-9F73-9891C9B300D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>611A2D2D-921F-490D-818C-A074FC9F4E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19E22D61-E3D0-405B-9131-387715FC0424</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A864F377-364B-4DB2-80AD-9B22CC623B5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D58CCB9-FBC4-4C19-9C51-28947D37FFFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51821C1F-4CBC-4C2A-A165-1DF9ADE1135E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4115022D-29DB-492C-B310-CEB76D68153E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5067BF5D-3D08-407F-A2B2-3E887BFE7FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F9B0DF7-8794-411C-9B00-EC5D62672D76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>611A2D2D-921F-490D-818C-A074FC9F4E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30084CC1-C3A0-4DD3-B43A-84DE4FD2B704</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EE97B79-7680-4D87-A74B-DA0DACA6DA55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>359448F0-527B-4A56-89DA-24451C73D947</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>923AED3F-5E6D-4466-8788-F43242D40D35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C4A4D72-05EA-4F4F-9F93-5C69BCC91EF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF102E3C-4B52-4CAF-A9BC-D79AFB7D35F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DB39C24-C16B-4B49-AE9A-4BBBB42197C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6AA329E-C486-4B20-82C0-5DDF0433A0EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5067BF5D-3D08-407F-A2B2-3E887BFE7FCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F9B0DF7-8794-411C-9B00-EC5D62672D76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50EC03E2-1E1F-4DEC-8ED9-4623DE35C23C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F4F517-9247-4520-A657-C917B5F00D68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CDE1CDA1-F17F-4050-9A48-6DCB5B2CD488</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>033D8CE4-FE50-4C0E-991D-E6BF84768934</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6418F689-785A-4B92-8686-924157B8FC64</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51821C1F-4CBC-4C2A-A165-1DF9ADE1135E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>359448F0-527B-4A56-89DA-24451C73D947</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>611A2D2D-921F-490D-818C-A074FC9F4E08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50EC03E2-1E1F-4DEC-8ED9-4623DE35C23C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F213F36-119A-4301-B474-13DBB11D2425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>941100C6-E219-4D0D-8E7F-AB36F3DC0C93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C4A4D72-05EA-4F4F-9F93-5C69BCC91EF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>923AED3F-5E6D-4466-8788-F43242D40D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>119D041F-BCA4-4300-9F73-9891C9B300D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>941100C6-E219-4D0D-8E7F-AB36F3DC0C93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DB39C24-C16B-4B49-AE9A-4BBBB42197C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F4F517-9247-4520-A657-C917B5F00D68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30084CC1-C3A0-4DD3-B43A-84DE4FD2B704</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EE97B79-7680-4D87-A74B-DA0DACA6DA55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7F35BA5-C2E0-4927-97D7-5C5DC37C87B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A864F377-364B-4DB2-80AD-9B22CC623B5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F213F36-119A-4301-B474-13DBB11D2425</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF102E3C-4B52-4CAF-A9BC-D79AFB7D35F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DB39C24-C16B-4B49-AE9A-4BBBB42197C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9C571126-4EF2-4A59-B62C-FB6DEF14D5F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A99DF2B-8419-4D8F-89F0-793F9993DB3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4F950F55-EBF4-4810-A08F-580787F2516F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6AA329E-C486-4B20-82C0-5DDF0433A0EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D58CCB9-FBC4-4C19-9C51-28947D37FFFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D906F476-9E74-47E1-BA7D-7623D68CF0AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B66D076-9572-4AF9-AB7F-E01179B8AC7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Shrink the dimensions of JPEG/PNG file(s)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shrink JPEG/PNG file(s)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>359448F0-527B-4A56-89DA-24451C73D947</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>max_size</key>
					<string>{var:longestSide}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.resize.longest-side</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9EE97B79-7680-4D87-A74B-DA0DACA6DA55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>30084CC1-C3A0-4DD3-B43A-84DE4FD2B704</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theInput}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>923AED3F-5E6D-4466-8788-F43242D40D35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theInput}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>95F4F517-9247-4520-A657-C917B5F00D68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>End the workflow</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Resized files ({var:longestSide}px on the longest side) are in their original folder.

Original images are in {var:tempFolder}.  If you have not changed the default in the User Configuration any backups will be deleted when your Mac restarts.</string>
				<key>title</key>
				<string>Shrink dimensions by longest side</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>C7F35BA5-C2E0-4927-97D7-5C5DC37C87B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:tempFolder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>51821C1F-4CBC-4C2A-A165-1DF9ADE1135E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>119D041F-BCA4-4300-9F73-9891C9B300D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Shrink JPEG/PNG file size</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>19E22D61-E3D0-405B-9131-387715FC0424</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>sideResize</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>941100C6-E219-4D0D-8E7F-AB36F3DC0C93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Resize longest side to {var:longestSide}px</string>
				<key>button2</key>
				<string>Resize to {var:percentReduction} per cent of original</string>
				<key>button3</key>
				<string>End the workflow</string>
				<key>description</key>
				<string>You can resize the file(s):

- to the length of the longest side (you are using the default of {var:longestSide}px); or

- by a percentage (you are using the default of {var:percentReduction} per cent).</string>
				<key>title</key>
				<string>Choose the resize method</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>7F213F36-119A-4301-B474-13DBB11D2425</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C6AA329E-C486-4B20-82C0-5DDF0433A0EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>overwrite</key>
					<true/>
					<key>save_in</key>
					<string>{var:tempFolder}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>611A2D2D-921F-490D-818C-A074FC9F4E08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>theInput</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A864F377-364B-4DB2-80AD-9B22CC623B5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No</string>
						<key>uid</key>
						<string>4115022D-29DB-492C-B310-CEB76D68153E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Yes</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2D58CCB9-FBC4-4C19-9C51-28947D37FFFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:sideResize}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Length</string>
						<key>uid</key>
						<string>CDE1CDA1-F17F-4050-9A48-6DCB5B2CD488</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:percentResize}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Percent</string>
						<key>uid</key>
						<string>6418F689-785A-4B92-8686-924157B8FC64</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>50EC03E2-1E1F-4DEC-8ED9-4623DE35C23C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:tempFolder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4DB39C24-C16B-4B49-AE9A-4BBBB42197C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:percentReduction}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>3</integer>
						<key>matchstring</key>
						<string>100</string>
						<key>outputlabel</key>
						<string>Pass</string>
						<key>uid</key>
						<string>9C571126-4EF2-4A59-B62C-FB6DEF14D5F2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:percentReduction}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>99</string>
						<key>outputlabel</key>
						<string>Error</string>
						<key>uid</key>
						<string>4F950F55-EBF4-4810-A08F-580787F2516F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BF102E3C-4B52-4CAF-A9BC-D79AFB7D35F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>percentResize</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4C4A4D72-05EA-4F4F-9F93-5C69BCC91EF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>2F9B0DF7-8794-411C-9B00-EC5D62672D76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theInput}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5067BF5D-3D08-407F-A2B2-3E887BFE7FCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theInput}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>033D8CE4-FE50-4C0E-991D-E6BF84768934</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>D906F476-9E74-47E1-BA7D-7623D68CF0AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>percentage</key>
					<string>{var:percentReduction}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.resize.percentage</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0B66D076-9572-4AF9-AB7F-E01179B8AC7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>End the workflow</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Resized files (dimensions reduced by {var:percentReduction} per cent) are in their original folder.

Original images are in {var:tempFolder}.  If you have not changed the default in the User Configuration any backups will be deleted when your Mac restarts.</string>
				<key>title</key>
				<string>Shrink dimensions by percentage</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>B38FCD54-25FA-4FD4-A761-3E156A775DA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>OK</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>In the User Configuration you have set the default percentage reduction to {var:percentReduction} per cent. That figure cannot exceed 99.</string>
				<key>title</key>
				<string>Error in setting default percentage</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>6A99DF2B-8419-4D8F-89F0-793F9993DB3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Introduction

This workflow, which works as a Universal Action both on a *single* selected JPEG or PNG file and on *multiple* selected JPEG or PNG files:

- saves each *original* image in a temporary folder specified in the User Configuration;
- offers two methods of resizing the dimensions of each selected image: *either* to the default longest side measurement specified in the User Configuration (measured in pixels) *or* by the default percentage reduction specified in the User Configuration.


**Note**:

- The workflow does *not* enlarge images that already have a shorter longer side than specified in the User Configuration.

- If you specify a default percentage in the User Configuration greater than 99 the workflow will produce an error message notifying you of that.

# Important note

If you use the default backup folder in the User Configuration the backup is to a temporary folder which is:
- automatically created if it does not exist; and
- *automatically deleted when your Mac restarts*.

*If you need to retrieve a backup you must move it from that default temporary folder before your Mac restarts*.

# Usage

Select a single JPEG or PNG file, or multiple JPEG or PNG files, in Finder, use your Universal Actions hotkey and choose `Shrink JPEG/PNG file(s)` to run the workflow.

# Credit

The icon is provided by [Edit tools icons created by srip - Flaticon](https://www.flaticon.com/free-icons/edit-tools).</string>
	<key>uidata</key>
	<dict>
		<key>033D8CE4-FE50-4C0E-991D-E6BF84768934</key>
		<dict>
			<key>note</key>
			<string>Pass on the file variable</string>
			<key>xpos</key>
			<real>2040</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>0B66D076-9572-4AF9-AB7F-E01179B8AC7C</key>
		<dict>
			<key>note</key>
			<string>Resize to default percentage set in User Configuration</string>
			<key>xpos</key>
			<real>2325</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>119D041F-BCA4-4300-9F73-9891C9B300D2</key>
		<dict>
			<key>note</key>
			<string>Split files if more than one</string>
			<key>xpos</key>
			<real>1625</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>19E22D61-E3D0-405B-9131-387715FC0424</key>
		<dict>
			<key>note</key>
			<string>A file action for selected JPEG or PNG file(s)</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>2D58CCB9-FBC4-4C19-9C51-28947D37FFFD</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>2F9B0DF7-8794-411C-9B00-EC5D62672D76</key>
		<dict>
			<key>note</key>
			<string>Split files if more than one</string>
			<key>xpos</key>
			<real>1505</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>30084CC1-C3A0-4DD3-B43A-84DE4FD2B704</key>
		<dict>
			<key>note</key>
			<string>Split if more than one</string>
			<key>xpos</key>
			<real>2200</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>359448F0-527B-4A56-89DA-24451C73D947</key>
		<dict>
			<key>note</key>
			<string>Create the temp folder</string>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>4C4A4D72-05EA-4F4F-9F93-5C69BCC91EF8</key>
		<dict>
			<key>note</key>
			<string>Set variable for percent resize to true</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>4DB39C24-C16B-4B49-AE9A-4BBBB42197C0</key>
		<dict>
			<key>note</key>
			<string>Pass on temp folder variable</string>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>5067BF5D-3D08-407F-A2B2-3E887BFE7FCD</key>
		<dict>
			<key>note</key>
			<string>We are OK so pass on the file variable</string>
			<key>xpos</key>
			<real>1330</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>50EC03E2-1E1F-4DEC-8ED9-4623DE35C23C</key>
		<dict>
			<key>note</key>
			<string>Test which resize variable is true</string>
			<key>xpos</key>
			<real>1900</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>51821C1F-4CBC-4C2A-A165-1DF9ADE1135E</key>
		<dict>
			<key>note</key>
			<string>Pass on tempFolder variable</string>
			<key>xpos</key>
			<real>1200</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>611A2D2D-921F-490D-818C-A074FC9F4E08</key>
		<dict>
			<key>note</key>
			<string>Copy original file(s) to the default temp. folder set in User Configuration</string>
			<key>xpos</key>
			<real>1740</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>6A99DF2B-8419-4D8F-89F0-793F9993DB3C</key>
		<dict>
			<key>note</key>
			<string>Error message</string>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>7F213F36-119A-4301-B474-13DBB11D2425</key>
		<dict>
			<key>note</key>
			<string>Choose resize method</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>923AED3F-5E6D-4466-8788-F43242D40D35</key>
		<dict>
			<key>note</key>
			<string>Pass on the file variable</string>
			<key>xpos</key>
			<real>1500</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>941100C6-E219-4D0D-8E7F-AB36F3DC0C93</key>
		<dict>
			<key>note</key>
			<string>Set variable for side resize to true</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>95F4F517-9247-4520-A657-C917B5F00D68</key>
		<dict>
			<key>note</key>
			<string>Pass on the file variable</string>
			<key>xpos</key>
			<real>2040</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9EE97B79-7680-4D87-A74B-DA0DACA6DA55</key>
		<dict>
			<key>note</key>
			<string>Resize longest side of image to default length set in User Configuration</string>
			<key>xpos</key>
			<real>2320</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A864F377-364B-4DB2-80AD-9B22CC623B5F</key>
		<dict>
			<key>note</key>
			<string>Save file(s) as a variable</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>B38FCD54-25FA-4FD4-A761-3E156A775DA6</key>
		<dict>
			<key>note</key>
			<string>Final comfirmation of what has been done</string>
			<key>xpos</key>
			<real>2535</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BF102E3C-4B52-4CAF-A9BC-D79AFB7D35F3</key>
		<dict>
			<key>note</key>
			<string>Trap error if default % reduction is &gt;99</string>
			<key>xpos</key>
			<real>652</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C6AA329E-C486-4B20-82C0-5DDF0433A0EE</key>
		<dict>
			<key>note</key>
			<string>Check that the temp folder (see User Configuration) exists</string>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>C7F35BA5-C2E0-4927-97D7-5C5DC37C87B6</key>
		<dict>
			<key>note</key>
			<string>Final comfirmation of what has been done</string>
			<key>xpos</key>
			<real>2535</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D906F476-9E74-47E1-BA7D-7623D68CF0AA</key>
		<dict>
			<key>note</key>
			<string>Split if more than one</string>
			<key>xpos</key>
			<real>2200</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/tmp/com.alfredapp.resize.backups</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default backup location is deleted when macOS restarts.</string>
			<key>label</key>
			<string>Folder for backup of original(s)</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>tempFolder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1024</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This is the length, in pixels, you want for the longest side of the image. The default value is 1024 but you can change that to anything you want. (Note: smaller images will not be enlarged.)</string>
			<key>label</key>
			<string>Length in pixels of desired longest side</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>longestSide</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>75</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This is the percentage by which the file dimensions will be reduced.The default value is 75 but you can change that to anything you want, not exceeding 99. (Note: smaller images will not be enlarged. If you specify a percentage greater than 99 the workflow will produce an error message.)</string>
			<key>label</key>
			<string>The percentage reduction in file dimensions</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>percentReduction</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
